.bread-crumb {
    ul {
        display: flex;
        padding-bottom: 2em;
        
        li {
            font-size: 0.8em;
            font-weight: 300;

            &:after {
                content: '/';
                margin: 0 10px;
            }
            
            &:last-child {
                &:after {
                    display: none;
                }
            }
            
            a {
                color: #494949;
                text-decoration: none;
                text-transform: capitalize;
            }
        }
    }
}