.prateleira {
    position: relative;

    h2 {}

    ul {
        &:not(.slick-initialized) {
            display: flex;
            flex-wrap: wrap;

            li {
                @media screen and (min-width:$mobile) {
                    max-width: calc(100% / 5);
                    margin-bottom: 10px;
                }
            }
        }

        li {
            .produtos-card {
                display: flex;
                background-color: #FFF;
                border-radius: 6px;

                @media screen and (min-width:$mobile) {
                    margin: 0 5px;
                    padding: 0 0.75rem;
                    flex-direction: column;
                }
            }

            .produtos-card .produto-img {
                display: flex;
                justify-content: center;
                align-items: center;

                @media screen and (max-width:$mobile) {
                    width: 35%;
                    padding: 0 10px;
                    height: 100%;
                }

                @media screen and (min-width:$mobile) {
                    height: 320px;
                }
            }

            .produtos-card .produto-img img {
                width: 100%;
                height: auto;
            }

            .produtos-card .produtos-content {
                border-top: 1px dotted #D9D9D9;

                @media screen and (max-width:$mobile) {
                    width: 65%;
                    padding: 0 10px;
                }
            }

            .produtos-card .produto-name {
                height: 45px;
                font-size: 14px;
                line-height: 15px;
            }

            .produtos-card .produtos-content .produto-info {
                font-family: var(--secondary-font);
                margin: 0.75rem 0;
            }

            .produtos-card .produtos-content .produto-info .produto-nome {
                color: #000000;
                font-weight: 500;
                font-size: 1rem;
            }

            .produtos-card .produtos-content .produto-info .info-prices {
                display: flex;
                justify-content: space-between;
            }

            .produtos-card .produtos-content .produto-info .info-prices .produto-price {
                color: var(--primary-font-color-card);
                font-weight: bold;
                word-spacing: -3px;
            }

            .produtos-card .produtos-content .produto-info .info-prices .no-estoque {
                color: var(--primary-font-color);
                font-weight: bold;
            }
        }
    }
}

.widget {
    padding: 0.15rem 0.75rem;
    border-radius: 50px;
    color: #FFF;
    font-family: var(--secondary-font);
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    margin: 0 0.5rem;
}

.widget.promotion {
    background: var(--widget-promotion);
}

.widget.off {
    background: var(--widget-off);
}

.widget.sale {
    background: var(--widget-sale);
}

.product-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0;

    .qtd {
        border: 0;
        width: 25px;
        font-size: 16px;
        color: #989898;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        background: #FFFFFF;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        font-family: var(--secondary-font);
    }

    .btn_qtd {
        border-radius: 50%;
        border: 0;
        display: flex !important;
        justify-content: center;
        color: #FFF;
        font-size: 16px;
        width: 25px;
        height: 25px;
        background: #25B2DE;
        box-shadow: 0px 4px 8px rgba(38, 192, 226, 0.5);
        cursor: pointer;
        text-decoration: none;
    
        img {
            text-align: center;
            height: 10px;
            width: 10px;
            margin-top: 8px;
        }
    
        &.mais {
            margin-right: 10px;
            line-height: 23px;
        }
    
        &.menos {
            line-height: 30px;
    
            img {
                height: 2px;
                width: 9px;
                margin-top: 12px;
            }
        }
    }
}

.btn.btn-compra {
    flex: 3;
    box-shadow: 0px 4px 8px rgba(84, 179, 156, 0.5);
    background: var(--primary-color-btn-card);
    border-radius: 4px;
    padding: 0.75rem 0.5rem;
    text-align: center;
    font-family: var(--secondary-font);
    font-weight: bold;
    color: #FFF;

    &.disabled {
        font-size: 0;
        pointer-events: none;
        opacity: 0.6;

        &:after {
            content: 'Aguarde...';
            font-size: 15px;
        }
    }
}

@media screen and (max-width: $mobile) {
    .produtos-card {
        flex-direction: row;
        padding: 0 0.25rem;
        margin-top: 0.5rem;
    }

    .produtos-card .produto-img img {
        width: 120px;
        height: 120px;
    }

    .product-footer {
        border-top: 1px dotted #D9D9D9;
    }

    .product-footer .qtd {
        width: 36px;
        height: 34px;
    }

    .btn.btn-compra {
        padding: 0.5rem 0.5rem;
    }
}