@keyframes shake {

    10%,
    90% {
        transform: translate3d(0, -4px, 0);
    }

    20%,
    80% {
        transform: translate3d(0, 6px, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(0, -8px, 0);
    }

    40%,
    60% {
        transform: translate3d(0, 8px, 0);
    }
}

#cart-lateral {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ededed;
    width: 380px;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
    transition: opacity 300ms;

    &.shake {
        animation: shake 2s cubic-bezier(.36, .07, .19, .97) both;
        transform: translate3d(0, 0, 0);
        perspective: 1000px;

        &:before {
            opacity: 1;
        }
    }

    &.active {
        z-index: 99999;

        @media screen and (min-width: $mobile) {
            visibility: visible;
            opacity: 1;
        }

        @media screen and (max-width: $mobile) {
            bottom: 0 !important;

            .header {
                background-color: initial;
                margin: 0 10px;
                padding: 0;
                color: #666;
                font-size: 18px;

                .cart-close {
                    opacity: 1;
                }
            }
        }
    }

    @media screen and (max-width:$mobile) {
        width: 100%;
        height: 100%;
        top: initial;
        bottom: -100%;
        left: 0;
        visibility: visible;
        opacity: 1;
        transition: bottom 300ms;

        &:before {
            content: 'Produto Adicionado na sacola';
            display: block;
            position: absolute;
            top: -50px;
            padding: 10px;
            background: #fff;
            box-shadow: 0 0 16px 0 #999;
            width: 80%;
            left: 50%;
            margin-left: -41%;
            border-radius: 20px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
            opacity: 0;
            transition: all .3s .3s;
            text-align: center;
        }
    }

    .columns {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;

        &.loading {
            &:before {
                opacity: 1;
                visibility: visible;
            }
        }

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(/arquivos/ajax-loader.gif);
            background-repeat: no-repeat;
            background-position: center center;
            content: '';
            z-index: 1;
            background-color: #ffffff61;
            transition: opacity 300ms;
            opacity: 0;
            visibility: hidden;
        }


        >.column_1,
        >.column_2,
        >.column_3 {
            width: 100%;
        }

        >.column_1 {
            height: 10%;

            .header {
                height: 100%;
                padding: 0 10px;
                background-color: var(--primary-font-color-card);

                @media screen and (max-width: $iphone5) {
                    font-size: 16px !important;
                }

                @media screen and (max-width: $mobile) {
                    background-color: var(--primary-font-color-card);
                    margin: 0;
                    color: white;
                    font-size: 18px;
                }

                ul {
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    li {
                        &.total-items {
                            color: white;
                            font-weight: 300;

                            span {
                                font-weight: bold;
                            }
                        }

                        &.close {
                            i {
                                width: 20px;
                                height: 20px;
                                line-height: 20px;
                                border-radius: 50px;
                                color: black;
                                background-color: #fff;
                                text-align: center;
                                cursor: pointer;
                                font-style: normal;
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        >.column_2 {
            height: 60%;

            .content {
                margin: 10px;
                height: 100%;
                overflow-y: scroll;
                position: relative;
                padding-right: 10px;

                >ul {
                    >li {
                        position: relative;
                        display: flex;
                        flex-wrap: wrap;
                        padding: 5px;
                        border-radius: 4px;
                        margin-bottom: 10px;
                        border: 1px solid #dcdcdc;
                        background-color: white;
                        box-shadow: 0px 3px 0px 0px #dcdcdc;

                        &[data-gift="true"] {
                            .ft {
                                ul {
                                    display: none !important;
                                }

                                .gift {
                                    display: block !important;
                                }
                            }
                        }

                        .column_1 {
                            width: 30%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img {
                                width: 100%;
                                height: auto;
                            }
                        }

                        .column_2 {
                            width: 70%;

                            .name {
                                padding-right: 20px;

                                p {
                                    font-size: 12px;
                                    font-weight: 400;
                                    line-height: 13px;
                                }
                            }

                            .ft {
                                margin-top: 10px;

                                .gift {
                                    display: none;
                                    color: var(--primary-font-color);
                                }

                                ul {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;

                                    li {
                                        width: 50%;

                                        .box-count {
                                            width: 100%;
                                            height: 30px;
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                            border-radius: 3px;

                                            .count {
                                                width: 25%;
                                                height: 100%;
                                                font-size: 13px;
                                                line-height: 30px;
                                                border-radius: 50%;
                                                text-align: center;
                                                font-weight: bold;

                                                &.count-up {
                                                    background-color: #25B2DE;
                                                }

                                                &.count-down {
                                                    background-color: #25B2DE;

                                                    img {
                                                        margin-bottom: 4px;
                                                        text-align: center;
                                                    }
                                                }
                                            }

                                            input {
                                                width: 40%;
                                                height: 100%;
                                                font-size: 15px;
                                                border: none;
                                                color: #989898;
                                                text-align: center;
                                                font-style: normal;
                                                font-weight: bold;
                                                background: #FFFFFF;
                                                appearance: none;
                                                -moz-appearance: none;
                                                -webkit-appearance: none;
                                                font-family: var(--secondary-font);
                                            }
                                        }

                                        &.price {
                                            display: block;

                                            p {
                                                font-weight: bold;
                                                text-align: right;
                                                width: 100%;
                                                color: var(--primary-font-color-card);

                                                &.bestPrice {
                                                    text-decoration: line-through;
                                                    font-weight: normal;
                                                    text-align: right;
                                                    font-size: 14px;
                                                    width: 100%;
                                                    color: #919191;
                                                    margin: .4rem 0;
                                                }
                                            }
                                        }

                                        &.bestPrice {
                                            p {
                                                text-decoration: line-through;
                                                font-weight: normal;
                                                text-align: right;
                                                width: 100%;
                                                color: #919191;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .removeUni {
                            position: absolute;
                            top: 5px;
                            right: 5px;
                            color: var(--primary-font-color-card);
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        >.column_3 {
            height: 30%;

            .frete {
                display: none;
            }

            .footer {
                margin-top: 15px;
                padding: 10px 20px 10px 20px;
                background-color: white;

                ul {
                    margin: 10px 0;

                    @media screen and (max-width:$iphone5) {
                        margin-top: 0;
                    }

                    li {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 10px;

                        span {
                            font-weight: 300;

                            &.frete {
                                text-align: right;

                                a {
                                    text-decoration: underline;
                                    cursor: pointer;
                                }

                                .box-1 {
                                    div {
                                        display: none;

                                        form {
                                            display: flex;
                                            justify-content: flex-end;

                                            input[type="text"] {
                                                width: 80%;
                                                height: 26px;
                                                border: 1px solid black;
                                                text-indent: 10px;
                                                transition: border 300ms;
                                                border-radius: 0;
                                                -webkit-appearance: none;

                                                &.active {
                                                    border: 1px solid red;
                                                }
                                            }

                                            input[type="submit"] {
                                                width: 20%;
                                                height: 26px;
                                                background-color: black;
                                                color: #fff;
                                                cursor: pointer;
                                                -webkit-appearance: none;
                                                border-radius: 0;
                                            }
                                        }
                                    }
                                }

                                .box-2 {
                                    display: none;

                                    .return-frete {
                                        color: black;
                                        margin-left: 5px;
                                        cursor: pointer;
                                    }
                                }
                            }

                            &.total-price {
                                color: black;
                                font-size: 16px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }

    .btn-finalizar {
        width: 100%;
        height: 45px;
        line-height: 45px;
        border-radius: 4px;
        display: block;
        color: white;
        background-color: var(--primary-color-btn-card);
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
}