.departamento {
    .full_banner {
        img {
            width: 100%;
            height: auto;
        }
    }
    
    main {
        .titulo-sessao {
            color: var(--primary-font-color);
            font-size: 32px;
            font-weight: bold;
            text-align: center;
            margin: 2rem 0;
        }

        .columns {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 40px;
    
            .column {
                &.column_0 {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 25px;
    
                    #result {
                        width: 15;
                        font-weight: bold;
    
                        @media screen and (max-width:$mobile) {
                            width:100%;
                        }
                    }
    
                    .flags {
                        width: 60%;
                        display: flex;
                        align-items: center;
    
                        @media screen and (max-width:$mobile) {
                            width:100%;
                            margin-bottom: 30px;
                        }
    
                        ul {
                            display: flex;
                            align-items: center;
                            
                            @media screen and (min-width:$mobile) {
                                margin-left: 10px;
                            }
    
                            @media screen and (max-width:$mobile) {
                                flex-direction: column;
                                justify-content: right;
                            }
    
                            li {
                                width: 130px;
                                height: 35px;
                                line-height: 35px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                text-transform: capitalize;
                                padding: 0 10px;
                                margin: 0 10px;
                                border-radius: 50px;
                                background-color: #f5c826;
                                cursor: pointer;
                            
                                span {
                                    font-weight: bold;
                                }
                            }
                        }
                    }
    
                    .options {
                        width: 15%;
    
                        @media screen and (max-width:$mobile) {
                            width:100%;
                            text-align: right;
                        }
                    }
                }
    
                &.column_1 {
                    width: 15%;
    
                    @media screen and (max-width:$mobile) {
                        width:100%;
                    }
    
                    .navigation-tabs {
                        .menu-departamento {
                            .menu-navegue {
                                display: none;
                            }
    
                            .search-single-navigator {
                                display: block!important;
                                margin-bottom: 40px;
                                background-color: white;
                                border-radius: 5px;
                                padding: 10px;
    
                                h3,
                                h4,
                                h5 {
                                    font-size: 0.9em;
                                    white-space: nowrap;
                                    font-family: var(--tertiary-font);
                                    text-align: left;
                                    padding: 0.5rem 0;
                                    margin-bottom: 10px;
                                    border-bottom: 0.12em dotted #CFCFCF;
                                    color: var(--primary-font-color-card);
    
                                    a {
                                        color: var(--primary-font-color-card);
                                    }
                                }
    
                                ul {
                                    &:empty {
                                        display: none;
                                    }

                                    &:not(:last-child) {
                                        margin-bottom: 30px;
                                    }
    
                                    li {
                                        a {
                                            font-weight: 300;
                                            text-transform: capitalize;
                                        }
                                    }
                                }
                            }
    
                            .search-multiple-navigator {
                                padding: 10px;
                                margin-bottom: 30px;
                                border-radius: 5px;
                                background-color: white;
                                display: block !important;
    
                                h3,
                                h4,
                                .bt-refinar {
                                    display: none;
                                }
    
                                fieldset {
                                    &.filtro_ {display: none;}
                                    
                                    &:not(:last-child) {
                                        margin-bottom: 30px;
                                    }
    
                                    h5 {
                                        font-size: 0.9em;
                                        white-space: nowrap;
                                        color: var(--primary-font-color-card) !important;
                                        font-family: var(--tertiary-font);
                                        text-align: left;
                                        padding-bottom: 0.5rem;
                                        margin-bottom: 10px;
                                        border-bottom: 0.12em dotted #CFCFCF;
                                    }
    
                                    div {
                                        label {
                                            font-weight: 300;
    
                                            input {
                                                cursor: pointer;
                                                margin-right: 10px;

                                                &:checked {
                                                    &:after {
                                                        background-color: var(--primary-color-btn-card);
                                                    }
                                                }

                                                &:after {
                                                    content: '';
                                                    width: 13px;
                                                    height: 13px;
                                                    border-radius: 3px;
                                                    display: inline-block;
                                                    background-color: #fff;
                                                    border: 1px solid var(--primary-color-btn-card);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    
                &.column_2 {
                    width: 85%;
                    padding-left: 10px;
    
                    @media screen and (max-width:$mobile) {
                        width:100%;
                        padding-left: 0;
                    }
    
                    .main {
    
                        .searchResultsTime,
                        .sub {
                            display: none;
                        }
    
                        .vitrine {
                            .pager {
                                display: none;
                            }
    
                            .prateleira {
                                ul {
                                    display: flex;
                                    flex-wrap: wrap;
    
                                    @media screen and (max-width:$mobile) {
                                        flex-direction: column;
                                    }
    
                                    li {
                                        width: calc(100% / 5);
                                        
                                        @media screen and (min-width:$mobile) {
                                            margin-bottom: 10px;
                                        }
                                        
                                        @media screen and (max-width:$mobile) {
                                            width: 100%;
                                        }
    
                                        .product-footer {
                                            .qtd {
                                                width: 30px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
    
                    .btn-load-more {
                        width: 200px;
                        height: 60px;
                        line-height: 56px;
                        margin: 20px auto;
                        color: var(--primary-color-btn-card);
                        border: 2px solid var(--primary-color-btn-card);
                        border-radius: 3px;
                        font-size: 18px;
                        font-weight: bold;
                        cursor: pointer;
                        text-align: center;
                    }
                }
            }
        }
    }
}



.popup_bebidas {
    position: fixed;
    z-index: 9999999999;
    display: none;
    top: 0;
    background-image: url(/arquivos/popup_yellow.png);
    height: 505px;
    width: 420px;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    img{
        margin-top: 60px;
    }
    p{
        color: #263373;
        font-size: 22px;
        margin-top: 25px;
        font-weight: bold;
    }
    a:nth-child(3), a:nth-child(4) {
        padding: 10px 60px;
        border-radius: 5px;
        margin: 20px 8px 0px 8px;
        display: inline-block;
    }
    a:nth-child(3) {
        border: 2px solid #263373;
        color: #263373;
    }
    a:nth-child(4) {
        border: 2px solid #263373;
        color: #fbcf21;
        background: #263373;
    }
    @media (max-width:460px) {
        width: 320px;
        height: 400px;
        img{
            margin-top: 30px;
            max-width: 200px;
        }
        p{
            font-size: 19px;
        }
        a:nth-child(3), a:nth-child(4){
            padding: 10px 40px;
        }
    } 
}
   