/* STYLE */
.error-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.error-page-content .error-page-img img {
    width: 100%;
}

.error-page-content h2 {
    font-size: 2.25rem;
}

.error-page-content .heading-server-error {
    font-size: 1.5rem;
    color: #4D4D4D;
}

.error-page-content .form-group {
    margin: 1rem 0;
    max-width: 500px;
    width: 100%;
}

.error-page-content .form-group input {
    width: 100%;
    background: url(../../../img/search-icon.svg) no-repeat;
    background-position: 95% center;
    background-color: #FFF;
}

.error-page-content p {
    color: #494949;
}

.btn-error-page {
    padding: 0.75rem 3rem;
    font-size: 1rem;
}

/* Melhores produtos */
.melhores-produtos-cards {
    display: flex;
    justify-content: center;
    position: relative;
}

.melhores-produtos-card .card-content a {
    width: 200px;
    height: 160px;
    background-color: #FFF;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    margin: 0 2.5px;
}

.melhores-produtos-card .card-content p {
    margin: 0;
    font-weight: bold;
    color: var(--tertiary-font-color);
}

.input-carrinho-vazio {
    display: block;
}

.section-header.section-header-error-page {
    font-size: 1rem;
    text-align: center;
}

/* FIM - STYLE */

/* MOBILE */
@media screen and (max-width: 425px) {

    /* O que pode te fazer feliz Hoje */
    .melhores-produtos .container {
        padding-right: 0;
    }

    .melhores-produtos {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    .melhores-produtos .container {
        padding: 0;
    }

    .seu-dia-mais-doce .container {
        padding: 0;
    }
}

/* FIM - MOBILE */

/* TABLET */
@media screen and (max-width: 768px) {

    /* Melhores Produtos */
    .melhores-produtos {
        display: none;
    }

    .melhores-produtos-cards {
        overflow: auto;
    }

    .melhores-produtos-card .card-content {
        width: 200px;
    }
}

.mauticform_wrapper {
    max-width: 600px;
    margin: 10px auto;
}

.mauticform-innerform {}

.mauticform-post-success {}

.mauticform-name {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 3px;
}

.mauticform-description {
    margin-top: 2px;
    margin-bottom: 10px;
}

.mauticform-error {
    margin-bottom: 10px;
    color: red;
}

.mauticform-message {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
    color: var(--primary-font-color);
}

.mauticform-row {
    display: block;
    margin-bottom: 20px;
}

.mauticform-label {
    font-size: 1.1em;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--primary-font-color);
}

.mauticform-row.mauticform-required .mauticform-label:after {
    color: #e32;
    content: " *";
    display: inline;
}

.mauticform-helpmessage {
    display: block;
    color: #494949;
    margin-bottom: 3px;
}

.mauticform-errormsg {
    display: block;
    color: red;
    margin-top: 2px;
}

.mauticform-selectbox,
.mauticform-input,
.mauticform-textarea {
    width: 100%;
    height: 40px;
    text-indent: 15px;
    border-radius: 50px;
    padding: 0.5em 0.5em;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    box-shadow: 0px 0px 0px #fff inset;
}

.mauticform-checkboxgrp-row {}

.mauticform-checkboxgrp-label {
    font-weight: normal;
}

.mauticform-checkboxgrp-checkbox {}

.mauticform-radiogrp-row {}

.mauticform-radiogrp-label {
    font-weight: normal;
}

.mauticform-radiogrp-radio {}

.mauticform-button-wrapper .mauticform-button.btn-default,
.mauticform-pagebreak-wrapper .mauticform-pagebreak.btn-default {
    height: 40px;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 400;
    padding: 0 20px;
    border-radius: 50px;
    border-color: #dddddd;
    background-color: var(--primary-color-btn-card);
}

.mauticform-button-wrapper .mauticform-button,
.mauticform-pagebreak-wrapper .mauticform-pagebreak {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.3856;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mauticform-button-wrapper .mauticform-button.btn-default[disabled],
.mauticform-pagebreak-wrapper .mauticform-pagebreak.btn-default[disabled] {
    opacity: 0.75;
    cursor: not-allowed;
}

.mauticform-pagebreak-wrapper .mauticform-button-wrapper {
    display: inline;
}