
#continue_buy {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    background-color: white;
    z-index: 1;
    display: block;
    height: 265px;
    margin-top: -132.5px;
    padding: 15px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: opacity 300ms;

    &.active {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }

    @media screen and (max-width:$mobile) {
        width: calc(100% - 30px);
        height: auto;
        top: 20%;
        left: 15px;
        margin: 0;
    }

    &>.close {
        float: right;
        margin-top: -40px;
        font-weight: bold;
        color: #000;
        font-size: 18px;
        margin-right: -15px;
    }

    .content {
        .head {
            padding: 20px 0;
            text-align: center;
            margin-bottom: 20px;
            border-bottom: 1px solid #dcdcdc;

            svg {
                width: 80px;
                height: 84px;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                text-align: center;
                text-transform: uppercase;

                @media screen and (max-width:$iphone5) {
                    font-size: 14px;
                }
            }
        }

        .footer {
            ul {
                display: flex;
                justify-content: space-between;

                @media screen and (max-width:$mobile) {
                    flex-direction: column;
                }

                li {
                    a {
                        width: 220px;
                        height: 35px;
                        line-height: 35px;
                        font-weight: bold;
                        text-align: center;
                        display: inline-block;
                        text-transform: uppercase;

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                            margin-bottom: 10px;
                        }
                    }

                    &:nth-child(1) {
                        a {
                            font-weight: bold;
                            color: var(--primary-color);
                            border: 1px solid var(--primary-color);
                        }
                    }

                    &:nth-child(2) {
                        a {
                            background-color: var(--primary-color-btn-card);
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

/* Newsletter */
.newsletter {
    width: 100%;
    padding-top: 30px;
    background: url(/arquivos/newsletter-bg.png) no-repeat top center/cover;
}

.newsletter-content .newsletter fieldset>p,
.newsletter-content .newsletter-title {
    color: #FFFFFF;
}

.newsletter-content h3 {display: none;}

.newsletter-content .newsletter-title {
    margin: 0;
    display: block;
}

.newsletter-content .newsletter fieldset>p {
    margin-bottom: 20px;
}

.newsletter-content .newsletter fieldset.success {
    color:#fff;
    font-size: 18px;
}

.newsletter-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
    width: 100%;
}

.newsletter-content .newsletter fieldset {
    display: block;
    text-align: center;
    border: none;
}

.newsletter-content .newsletter fieldset input[type="text"] {
    background: #FFF;
    border: 1px solid #E0E0E0;
    border-radius: 60px;
    padding: 0.75rem 1rem;
    margin-right: 20px;
}

.newsletter-content .newsletter fieldset input[type="button"] {
    background: var(--primary-color-btn-card);
    border: 1px solid #E0E0E0;
    border-radius: 60px;
    padding: 0.75rem 1rem;
    margin-right: 20px;
    border: none;
    width: 80px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/* Footer */
.footer {
    background: #FFF;
}

.footer-content {
    display: flex;
    flex-direction: column;
}

.footer-content .menus {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.footer-content .menus .menu-content {
    flex: 1;
}

.footer-content .menus .menu-content h4 {
    font-size: 1rem;
    color: var(--quinary-font-color);
    margin-bottom: 1rem;
}

.footer-content .menus .menu-content .menu {
    font-family: var(--tertiary-font);
}

.footer-content .menus .menu-content .menu li {
    margin-bottom: 0.5rem;
}

.footer-content .menus .menu-content .menu li a {
    color: #494949;
    font-weight: normal;
}

.footer-content .menus .menu-content .menu.menu-5 {
    display: flex;
}

.footer-content .menus .menu-content .menu.menu-5 li {
    margin-right: 1rem;
}

.infos-loja {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px dotted #D9D9D9;
}

.infos-loja .info {
    flex: 1;
}

.infos-loja .info ul {
    margin: 1rem 0;
    flex: 1;
}

.infos-loja .info h4 {
    color: var(--quinary-font-color);
}

.infos-loja .info ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.infos-loja .info.info-2 {
    margin-left: 2rem;
}

.infos-loja .info ul li {
    margin-right: 1rem;
}

.copyright {
    background: #E5E5E5;
    font-family: var(--tertiary-font);
    color: #494949;
    text-align: center;
}

@media screen and (max-width: $mobile) {
    .newsletter-content .newsletter fieldset input[type=text] {
        width: 100%;
        margin-bottom: 10px;
    }

    .newsletter-content .newsletter fieldset input[type=button]  {
        width: 100%;
    }

    .infos-loja .info.info-2 ul {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 425px) {
    .newsletter-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .newsletter-form .form-group {
        margin: 0.5rem 0rem;
    }

    .footer-content .menus {
        flex-direction: column;
    }

    .footer-content .menus .menu {
        display: none;
    }

    .footer-content .menus .menu-content h4 {
        display: flex;
        justify-content: space-between;
        padding: 0.75rem 0;
        border-bottom: 1px solid #D3D3D3;
        margin-bottom: 0;

        &:after{
            content: "";
            margin-top: 7px;
            margin-right: 12px;
            transition: transform .5s;
            transform: rotate(-45deg);
            border-right: 2px solid #25b2de;
            border-bottom: 2px solid #25b2de;
            display: inline-block;
            width: 7px;
            height: 7px;
        }
    }

    .footer-content .menus .menu-content h4.active{
        &:after{
            content: "";
            margin-top: 7px;
            margin-right: 12px;
            transition: transform .5s;
            transform: rotate(45deg);
            border-right: 2px solid #25b2de;
            border-bottom: 2px solid #25b2de;
            display: inline-block;
            width: 7px;
            height: 7px;
        }
    }

    .footer-content .menus .menu-content:last-child h4 {
        border-bottom: none;
        pointer-events: none;

        &:after{
            content: "";
            border-right: 0;
            border-bottom: 0;
        }
    }

    .footer-content .menus .menu-content .menu li:first-child{
        margin-top: .7rem;
    }

    .footer-content .menus .menu-content .menu.menu-5 li:first-child{
        margin-top: 0rem;
    }

    .footer .container {
        padding: 0 0.5rem;
    }

    .infos-loja {
        display: flex;
        flex-direction: column;
        border: none;
    }

    .infos-loja .info.info-2 {
        margin-left: 0;
    }

    .infos-loja .info.info-2 ul {
        flex-direction: row;
        align-items: center;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.send_message{
    &.actived{
        display: block !important;
    }
    position: fixed;
    background: #fff;
    max-width: 400px;
    padding: 15px 0px 25px 0;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.23);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.23);
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.23);
    border-radius: 5px;
    z-index: 999;
    width: calc(100% - 30px);
    .close{
        position: absolute;
        right: 0;
        top: -25px;
        color: #fff;
        cursor: pointer;
    }
    > p{
        text-align: center;
    }
    .form{
        padding: 0 15px;
        display: flex;
        flex-wrap: wrap;
        input, textarea{
            width: 100%;
            padding: 10px 15px ;
            margin: 5px 0;
            border-radius: 4px;
            border: 1px solid #D3D3D3;
            background: #f1f1f1;
            color: #333;
            font-family: 'Roboto Slab',sans-serif;
            &::placeholder{
                font-size: 15px;
            }
            &[type="submit"]{
                width: 100px;
                text-align: center;
                position: relative;
                right: 0;
                left: 100%;
                border: none;
                transform: translateX(-100%);
                background: #15CE97;
                color: #fff;
                font-weight: 800;
                font-size: 15px;
                letter-spacing: 1.2;
            }
        }
        textarea{
            height: 120px;
        }
    }
    &.finish{
        &:before{
            content: 'Mensagem Enviada!';
            display: block;
            text-align: center;
        }
        p, .form{
            display: none;
        }
    }
}

.overlay_msg{
    &.actived{
        display: block !important;
    }
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba($color: #000000, $alpha: 0.75);
    z-index: 998;
}