.frete_bar {
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: 400ms;

    &.actived {
        height: auto;
    }

    a,
    span {
        color: #273171 !important;
    }

    .container {
        display: block !important;
        text-align: center;
        max-width: 100%;
    }

    &_container {
        width: auto;
        display: inline-flex;
        margin: 6px 0px;
        flex-wrap: wrap;
    }

    &-icon,
    &-progress,
    &-add {
        display: inline-block;
    }

    &-icon {
        width: 40px;
    }

    &-progress {
        width: 640px;
        margin: 0 8px;

        &_msg {
            text-align: left;

            >span {
                font-size: 14px;
                margin-bottom: 4px;
                display: none;

                &.actived {
                    display: block;
                }
            }
        }

        &_bar {
            display: block;
            border: 1px solid #273171;
            height: 11px;
            border-radius: 10px;
            position: relative;
            text-align: left;

            &::before {
                content: '';
                display: inline-block;
                position: absolute;
                width: 0px;
                height: 10px;
                top: -1px;
                border-top: 1px solid #273171;
                border-bottom: 1px solid #273171;
                background: #15CE97;
                border-radius: 10px;
                transition: 0.2s;
                max-width: 100%;
            }
        }
    }

    &-add {
        display: none;
        margin-top: 14px;

        a {
            font-weight: bold;
            font-size: 14px;
        }
    }

    @media (max-width: 830px) {
        &-add {
            float: right;
            right: 30px;
        }

        .frete_bar-progress {
            width: 75%;
        }
    }

    @media (max-width: 780px) {
        .frete_bar-progress {
            width: 81%;
        }

        &-add {
            width: 100%;
            text-align: right;
            margin: 10px 8px 0px 8px;
        }
    }
}