.menu-toogle {
    display: none;
}

.header-content {
    background: var(--primary-color);
    z-index: 98;
    position: sticky;
    top: 0;
    left: 0;
}

.header-content nav {
    padding: 0.75rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-content nav>ul {
    display: flex;
    flex-direction: row;
}

.nav-sections {
    nav {
        >ul {
            >li {
                &:hover {
                    .submenu {
                        display: block;
                    }
                }

                .submenu {
                    display: none;
                    position: absolute;
                    top: 138px;
                    padding-top: 20px;
                    right: 0;
                    background-color: #fff;
                    width: 100%;
                    height: auto;
                    z-index: 9;

                    &:hover {
                        display: block;
                    }

                    .columns {
                        display: flex;
                        justify-content: space-between;

                        .column {
                            @media screen and (max-width:$mobile) {
                                width: 100%;
                            }

                            ul {
                                li {
                                    a {
                                        font-weight: 400;
                                        display: block;
                                        margin-bottom: 10px;

                                        &.title {
                                            font-weight: bold;
                                            margin-bottom: 20px;
                                            color: #25809d;
                                        }

                                        &.all {
                                            font-weight: bold;
                                            margin: 20px 0;
                                        }
                                    }
                                }
                            }

                            &.image {
                                img {
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.header-content nav>ul>li {
    margin-right: 0.5rem;
}

.header-content nav>ul>li a {
    color: var(--secondary-font-color);
}

.header-content nav ul.menu {
    @media screen and (min-width:$mobile) {
        width: 20%;
    }
}

.logo {
    margin-left: 240px;
}

header .busca {
    border: none;
    position: relative;

    @media screen and (max-width:$mobile) {
        position: fixed;
        top: 71px;
        width: 100%;
        right: 0;
        height: 45px;
        padding-top: 2px;
        background-color: var(--primary-color);
        padding: 0 15px;

        &.active {
            display: block;
        }
    }
}

header .busca legend,
header .busca label,
header .busca select,
header .busca .btn-buscar {
    display: none;
}

header .busca input[type="text"] {
    width: 300px;
    height: 40px;
    border-radius: 60px;
    margin-left: 40px;
    background-color: #FFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    text-indent: 15px;

    @media screen and (max-width:$mobile) {
        width: 100%;
        background-position: 95%;
        margin: 0;
    }
}

header .busca input[type="button"] {
    display: block;
    height: 30px;
    width: 30px;
    background-image: url(/arquivos/search-icon.png);
    background-color: transparent;
    border: none;
    font-size: 0;
    background-size: 100%;
    background-position: center;
    position: absolute;
    right: 7%;
    top: 5px;
    cursor: pointer;
}

header .busca-container {
    display: none;
}

header .cart-container {
    position: relative;
}

header .cart-container span {
    width: 15px;
    height: 15px;
    background-color: yellow;
    border-radius: 50px;
    display: block;
    text-align: center;
    line-height: 15px;
    font-size: 13px;
    position: absolute;
    top: 0;
    right: 0;
}

/* Nav Sections */
.nav-sections {
    background: #FFF;
}

.nav-sections nav {
    padding: 0rem 5rem;
}

.nav-sections nav>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-section-item {
    height: 45px;
    line-height: 45px;
    color: #25809D;

    &.alert{
        color: #ec3354;
    }
}

/* Side nav */

.side-nav {
    display: none;
}

.login-container {
    position: relative;

    &:hover {
        ul {
            display: block!important;
        }
    }

    ul {
        width: 200px;
        height: auto;
        z-index: 1;
        position: absolute;
        padding: 10px 10px 0 10px;
        margin-left: -10px;
        background-color: white;

        li {
            &:first-child {
                a {
                    color: white;
                    background-color: var(--primary-font-color);
                }
            }
            
            a {
                display: block;
                width: 100%;
                height: 30px;
                line-height: 30px;
                padding: 0 10px;
                margin-bottom: 10px;
            }
        }
    }
}

.todos_departamentos{
    & > a{
        color: #EC3354;
    }
    &:hover .submenu-1, li:hover .submenu-2{
        display: block;
    }
    .submenu-1, .submenu-2{
        position: absolute;
        z-index: 999;
        padding: 20px 0;
        display: none;
    }
    .submenu-1{
        background: #fff;
        width: 100%;
        left: 0;
        .container > ul{
            display: block;
            width: 300px;
            margin-left: 130px;
        }
        li{
            margin-bottom: 10px;
            a{ 
                color: #25809d;

                &.alert{
                    color: #ec3354;
                }
            }
            &:hover > a{
                color: #EC3354;

                &.alert{
                    text-decoration: underline;
                }
            }
        }
    }
    .submenu-2{
        background: #fafafa;
        left: 420px;
        top: 0;
        height: 100%;
        padding-left: 30px;
        li{
            a{ 
                color: #494949;
                font-weight: 400;
                &.all{
                    color: #494949 !important;
                    font-weight: 700 !important;
                }
            }
        }
    }
    .col{
        width: 200px;
        float: left;
    }
    &-button{
        color: #EC3354 !important;
        svg path{
            fill: #EC3354;
        }
        &-back{
            display: inline-block !important; 
            line-height:  initial !important;
            color: #EC3354 !important;
            svg{
                transform: rotate(180deg);
                margin-right: 10px;
                path{
                    fill: #EC3354;
                }
            }
        }
    }
    &-action{
        cursor: pointer;
    }
    &-mobile{
        position: relative;
        display: none;
        &.active{
            display: block;
        }
    }

    @media screen and (max-width: 768px) {
        display: none;
    }
    
}
.menu_default{
    display: block;
    &.active{
        display: none;
    }
}




@media screen and (max-width: 1170px) {

    /* Header */
    .logo {
        margin-left: 150px;
    }

    .login-container {
        margin-left: 30px;
    }

    /* Fim Header */
}

@media screen and (max-width: 768px) {

    header .busca,
    .header-content nav ul {
        display: none;
    }

    .menu-toogle {
        display: block;
    }

    .logo {
        margin-left: 50px;
        width: 125px;
        height: 35px;
    }

    .header-content nav input[type="search"] {
        margin-left: 20px;
        display: none;
    }

    .login-container {
        margin-left: 40px;
    }

    .cart-container {
        margin-left: 10px;
    }

    /* Nav Mobile */
    .side-nav {
        display: block;
        width: 300px;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        background: white;
        transform: translateX(-320px);
        transition: transform .5s ease-in;
        list-style: none;
        padding: 0.5rem 0.25rem;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
        overflow: scroll;

        ul {
            li {
                .submenu {
                    display: none;
                    padding: 20px 0;

                    .column {
                        ul {
                            li {
                                a {
                                    font-weight: 400;
                                    display: block;
                                    margin-bottom: 10px;

                                    &.title {
                                        font-weight: bold;
                                        margin-bottom: 20px;
                                        color: #25809d;
                                    }

                                    &.all {
                                        font-weight: bold;
                                        margin: 20px 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .side-nav .nav-header {
        background: #263273;
        padding: 0.5rem 0.5rem;
        display: flex;
        flex-direction: column;
        color: #FFFFFF;
    }

    .side-nav .nav-header .header-nav-content a {
        color: #FFF;
        font-weight: 300;
    }

    .side-nav .nav-header .close-nav {
        width: 30px;
        height: 30px;
        background: #DA4242;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
    }

    .side-nav ul li {
        border-bottom: 1px solid #EFEFEF;
    }

    .side-nav ul .nav-section-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.75rem 0.5rem;
        width: 100%;
        transition: transform  300ms;
    }

    .side-nav ul .nav-section-item.active svg {
        transform: rotate(90deg);
    }

    .side-nav .nav-footer {
        margin-top: 5rem;
    }

    .side-nav .nav-footer .nav-footer-content {
        display: flex;
        justify-content: space-between;
    }

    .side-nav .nav-footer .nav-footer-content .btn-nav-footer {
        background: #F5C826;
        border-radius: 4px;
        flex: 1;
        text-align: center;
        margin-right: 0.5rem;
        padding: 0.5rem 0;
        font-weight: 700;
        color: #002378;
    }

    .side-nav .nav-footer .nav-footer-content .btn-nav-footer:nth-child(2) {
        margin-right: 0;
    }

    .active {
        transform: translateX(0px);
    }

    .nav-sections nav {
        padding: 0;
    }
}

@media screen and (max-width: 425px) {

    /* Header */
    .logo {
        width: 125px;
        margin-left: 80px;
    }

    .input-search {
        display: none;
    }

    .busca-container {
        display: block !important;
    }

    .busca-mobile {
        width: 100%;
        height: 200px;
        background: white;
        z-index: 999;
        position: relative;
        float: right;
    }

    .nav-sections .container {
        padding: 0;
    }

    .nav-sections nav {
        padding: 0;
        overflow: auto;
    }

    .nav-sections nav>ul {
        justify-content: inherit;
    }

    .nav-sections nav>ul li {
        margin: 0 0.75rem;
    }

    .login-container {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    .logo {
        margin-left: 40px;
    }
}

@media screen and (max-width: 320px) {
    .logo {
        margin-left: 20px;
    }

    .login-container {
        margin-left: 20px;
    }
}