.home {

    /* Slides */
    .slides {
        .slides-content {
            position: relative;

            img {
                width: 100%;
                height: auto;
            }

            @media screen and (max-width:$mobile) {
                .mobile {
                    display: block !important;

                    .slick-arrow {
                        top: 30%;
                    }
                }

                .desktop {
                    display: none !important;
                }
            }
        }
    }

    /* Banner Regua */
    .banner-regua {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .banner-regua-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: auto;
    }

    .banner-regua-content .regua-card {
        background-color: var(--secondary-color);
        flex: 1;
        border-radius: 4px;
        margin-right: 0.5rem;
    }

    .banner-regua-content .regua-card .regua-card-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .banner-regua-content .regua-card .regua-card-content img,
    .banner-regua-content .regua-card .regua-card-content svg {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .banner-regua-content div p {
        font-size: 0.75rem;
        color: #FFF;
        font-weight: bold;
    }

    /* Seu dia mais doce */

    .seu-dia-mais-doce-cards {
        display: flex;
        flex-direction: row;
    }

    .seu-dia-mais-doce-cards .seu-dia-mais-doce-card {
        flex: 1;
        position: relative;
    }

    .seu-dia-mais-doce-cards .seu-dia-mais-doce-card img {
        width: 100%;
        height: 100%;
    }

    .seu-dia-mais-doce-cards .seu-dia-mais-doce-card::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.2s ease-in;
    }

    .seu-dia-mais-doce-cards .seu-dia-mais-doce-card .seu-dia-mais-doce-card-content {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-weight: bold;
        font-size: 1.5rem;
        opacity: 0;
        transition: all 0.2s ease-in;
    }

    .seu-dia-mais-doce-cards .seu-dia-mais-doce-card:hover::after,
    .seu-dia-mais-doce-cards .seu-dia-mais-doce-card:hover .seu-dia-mais-doce-card-content {
        opacity: 1;
        transition: all 0.2s ease-in;
    }

    /* Banner Categorias */
    .banner-categorias-content {
        ul {
            display: flex;
            justify-content: space-between;

            .box-banner {
                width: 49.5%;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    /* FIM - STYLE.CSS */

    /*MOBILE.CSS*/
    @media screen and (max-width: 425px) {

        /* Banner Regua */
        .banner-regua .container {
            padding: 0;
        }

        .banner-regua {
            display: block;
            padding: 0;
        }

        /* O que pode te fazer feliz Hoje */
        .melhores-produtos .container {
            padding-right: 0;
        }

        /* Faça seu Dia Mais doce */
        .seu-dia-mais-doce-cards {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .seu-dia-mais-doce .container {
            padding: 0;
        }

        .seu-dia-mais-doce-cards .seu-dia-mais-doce-card {
            flex-basis: 50%;
        }

        .seu-dia-mais-doce-cards .seu-dia-mais-doce-card img {
            width: 100% !important;
        }

        /* Produtos Card */
        .favoritos-produtos {
            flex-direction: column;
        }

        .favoritos .container {
            padding: 0.5rem 0.5rem;
        }

        .produtos-card {
            justify-content: center;
            align-items: center;
            margin: 0.5rem 0.25rem;
        }

        /* Banner Categorias */
        .banner-categorias .container {
            padding: 0;
        }

        .banner-categorias-content {
            flex-direction: column;
        }

        .banner-categorias-content .banner:nth-child(1) {
            margin: 0;
        }

        .descontinho-especial-produtos {
            flex-direction: column;
        }

        .descontinho-especial .container {
            padding: 0.5rem
        }
    }

    @media screen and (max-width: 360px) {
        .melhores-produtos .container {
            padding: 0;
        }

        .seu-dia-mais-doce .container {
            padding: 0;
        }
    }

    @media screen and (max-width: 320px) {
        .header-content .container {
            padding: 0.5rem 0.5rem;
        }

        .favoritos .container,
        .descontinho-especial .container {
            padding: 0.15rem 0.15rem;
        }
    }

    /*FIM - MOBILE.CSS*/

    /* TABLET */
    @media screen and (max-width: 768px) {

        .favoritos {
            width: 100%;
            height: 100%;
            background: url('/arquivos/favoritos-bg.jpg') no-repeat top;
            background-size: cover;
        }

        /* Classes Utilitarias */
        .container {
            padding: 0 1rem;
        }

        /* Fim Classes Utilitarias */
        /* Banner Regua */
        .banner-regua {
            // display: none;
        }

        /* Fim Snacks Favoritos */
        /* Melhores Produtos */
        .melhores-produtos-cards {
            overflow: auto;
        }

        .melhores-produtos-card .card-content {
            width: 200px;
        }

        /* Fim Melhores Produtos */
        /* Seu dia Mais Doce */
        .seu-dia-mais-doce-cards {
            overflow: auto;
        }

        .seu-dia-mais-doce-cards .seu-dia-mais-doce-card img {
            width: 282px;
        }
    }

    /* FIM - TABLET */
    /* FIM - WIDE SCREEN */
}
.overlay.popup_open{
    display: block !important;
}
.popup_news{
    &.popup_open{
        display: block !important;
    }
    position: fixed;
    top: 0;
    width: 600px;
    height: 500px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    background: url('/arquivos/bg_popup_news.png');
    h3{
        display: none;
    }
    h2, .newsletter{
        float: right;
        width: 315px;
    }
    h2{
        color: #fff;
        margin-top: 130px;
        font-size: 30px;
    }
    .close_popup_news {
        float: right;
        position: absolute;
        right: 15px;
        top: 7px;
        font-size: 13px;
        cursor: pointer;
    }
    .newsletter{
        margin-top: 0;
        padding-top: 0;
        p{
            font-size: 0;
            &::before{
                content: 'Cadastre-se e receba nossas novidades!';
                color: #fff;
                font-size: 15px;
                font-weight: bold;
            }
        }
        input[type="text"]{
            background: #e5e5e5;
            padding: 9px 16px;
            border-radius: 15px;
            border: none;
            background: #fff;
            margin: 5px 0;
            width: calc(100% - 10px);
        }
        input[type="button"]{
            background: var(--primary-color-btn-card);
            padding: 9px 16px;
            border: none;
            border-radius: 15px;
            color: #fff;
            font-weight: bold;
            position: relative;
            right: 10px;
            float: right;
            top: 5px;
        }          
    }
    @media (max-width: 600px) {
        top: 15px;
        width: calc(100% - 30px);  
        h2{
            right: 4px;
            position: relative;
        }
        .newsletter {
            background: none !important;
        }
    }
}