.newsletter02{
    display: block !important;
    .container {
        position: relative;
        margin-top: 20px;
        > img{
           position: absolute;
           top: -22px;
           left: calc(50% - 500px);
            @media (max-width: 1050px) {
                display: none;
            }
        }
    }
    .newsletter{
        text-align: center;
        background: #fff;
        padding: 18px 0;
    }
    p{
        font-size: 0;
        color: transparent;
    }
    h3{
        font-size: 0;
        &::before{
            content: 'Cadastre-se para receber as nossas novidades por email:';
            color: var(--primary-font-color);
            font-size: 20px;
            font-weight: bold;
        }
    }
    input[type="text"]{
        background: #e5e5e5;
        padding: 9px 16px;
        border-radius: 15px;
        border: none;
        margin-right: 7px;
    }
    .newsletter-client-email{
        width: 360px;
    }
    input[type="button"]{
        background: var(--primary-color-btn-card);
        padding: 9px 16px;
        border: none;
        border-radius: 15px;
        color: #fff;
        font-weight: bold;
    }
    @media (max-width: 676px) {
        input[type="button"], input[type="text"]{
            margin-top: 7px;
            width: 95%;
        }
    }
}