.politica-container,
.politica-container h2,
.politica-container h3 {
    font-family: var(--tertiary-font);
}

body.duvidas-frequentes.suporte .politica-lista {display: block;}

.li-b-2,
.li-b-3,
.li-b-4,
.li-b-5 {
    display: none;
}

.politica-container h3 {
    color: black !important;
}

.politica-container h3 i {
    color: #25809D;
}

.politica-container h2 {
    padding: 0em 2em 1em 0em;
    color: #002378;
}
.politica-container ol{
    padding-left: 15px;
    li{
        margin-bottom: 10px;
    }
}
.politica-item {
    background: white;
    width: 45.5em;
    margin: 0.25em;
    border-radius: 4px;
}

.politica-item h3 {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em 1em 2em;
    font-weight: 600;
}

.politica-item p {
    padding: 0em 2em 2em 2em;
    margin-top: -1em;
}

@media screen and (max-width: 768px) {
    .politica-lista {
        display: flex;
        flex-direction: column;
    }

    .politica-item {
        margin: 0;
        margin-top: 0.25em;
        width: 100%;
    }

    .politica-item h3 {
        padding: 1em;
    }
}