.produto {
    .zoomWindow {
        display: none !important;
    }

    .header-produto {
        display: flex;
        font-size: 0.8em;
        padding: 1em 1em 1em 15em;
        background-color: white;
    }

    .header-produto ul {
        display: flex;
        color: black;
        font-family: var(--tertiary-font);
    }

    .header-produto ul li {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .main-produtos {
        background: white;

        .colunas {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 100px;
        }
    }

    .main-produtos .produto-info-image .apresentacao #show {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .main-produtos .produto-info-image .apresentacao #show #include #image {
        text-align: center;
    }

    @media screen and (min-width:768px) {
        .main-produtos .produto-info-image .apresentacao #show #include #image img {
            width: 70%;
            height: auto;
        }

        .main-produtos .produto-info-image {
            width: 60%;
        }

        .main-produtos .produto-info-image .apresentacao #show #include {
            width: 90%;
            order: 2;
        }

        .main-produtos .produto-info-image .apresentacao .thumbs {
            width: 10%;
            order: 1;
        }
    }

    .main-produtos .plugin-preco .descricao-preco {
        margin-bottom: 0;
    }

    .main-produtos .plugin-preco .valor-por,
    .main-produtos .plugin-preco .valor-de {
        font-style: normal;
    }
    
    .main-produtos .plugin-preco .valor-de{
        text-decoration: line-through;
    }

    .main-produtos .plugin-preco .valor-por {
        font-size: 0;
    }

    .main-produtos .plugin-preco .valor-dividido {
        display: none !important;
    }

    .main-produtos .plugin-preco .valor-por strong {
        margin-top: 1em;
        font-size: 22px;
        color: #002378;
    }

    .main-produtos .flags .flag {
        font-size: 0;
    }

    .main-produtos .flags .flag.promocao-twix {
        position: relative;
        background-color:#ff0;
        padding: 10px 50px 10px 10px;

        &:before {
            content: '';
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            position: absolute;
            border-style: solid;
            border-width: 24px 30px 24px 0;
            border-color: transparent #fff transparent transparent;
        }

        &:after {
            font-size: 14px;
            font-weight: bold;
            line-height: 15px;
            content: 'Na compra at\00e9\00a0 2 unidades, o valor \00e9\00a0 R$ 9,99 cada, a partir do terceiro sai por R$ 13,86 cada.';
        }
    }
    .main-produtos .flags .flag.promocao-snickers {
        position: relative;
        background-color:#ff0;
        padding: 10px 50px 10px 10px;

        &:before {
            content: '';
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            position: absolute;
            border-style: solid;
            border-width: 24px 30px 24px 0;
            border-color: transparent #fff transparent transparent;
        }

        &:after {
            font-size: 14px;
            font-weight: bold;
            line-height: 15px;
            content: 'Na compra at\00e9\00a0 2 unidades, o valor \00e9\00a0 R$ 29,99 cada, a partir do terceiro sai por R$ 35,00 cada.';
        }
    }
    .main-produtos .flags .flag.promocao-mentos {
        position: relative;
        background-color:#ff0;
        padding: 10px 50px 10px 10px;

        &:before {
            content: '';
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            position: absolute;
            border-style: solid;
            border-width: 24px 30px 24px 0;
            border-color: transparent #fff transparent transparent;
        }

        &:after {
            font-size: 14px;
            font-weight: bold;
            line-height: 15px;
            content: 'Na compra at\00e9\00a0 2 unidades, o valor \00e9\00a0 R$ 17,49 cada, a partir do terceiro sai por R$ 20,49 cada.';
        }
    }
    .main-produtos .part-thumb-produto {
        display: flex;
        flex-direction: column;
        padding: 3em;
    }

    .item-produto {
        width: 5.5em;
        height: 5.5em;
        padding: 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1.25em;
        cursor: pointer;
    }

    .item-produto img {
        height: auto;
        width: 65%;
    }

    .produto-main-img {
        height: 40em;
        width: 40em;
        background-color: white;
        display: flex;
        flex-direction: column;
        margin-top: 3em;
        margin-right: 3em;
    }

    .produto-main-img img {
        height: 100%;
        align-self: center;
    }

    .produto-active {
        height: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .produto-tp {
        position: absolute !important;
        justify-self: baseline;
        background: #ec3354 !important;
        margin-top: 0.5em;
        padding-right: 1.5em;
        padding-left: 1.5em;
        font-weight: 550;
    }

    .produto-info-desc {
        width: 40%;
        background-color: white;
        padding: 1.5em;
        font-family: var(--tertiary-font);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }

    .produto-info-desc h1 {
        padding-right: 1.5em;
    }

    .produto-info-desc h3 {
        color: #d3d3d3;
        font-size: 0.85em;
        font-weight: normal;
    }

    .produto-info-desc hr {
        margin-top: 0.8em;
        border: 0.025em solid #d3d3d3;
    }

    .produto-info-desc .label,
    .produto-info-desc .label2,
    .produto-info-desc .label3 {
        font-weight: bold;
        font-size: 0.8em;
        padding-top: 1.5em;
    }

    .produto-info-desc .label {
        padding-bottom: 1.5em;
    }

    .produto-info-desc .label3 {
        padding-top: 0;
        font-weight: normal;
        padding-bottom: 1.5em;
    }

    .produto-info-desc .label3 b {
        font-weight: 800;
    }

    .produto-info-desc .buy-in-page-button {
        box-shadow: 0px 4px 8px rgba(84, 179, 156, 0.5);
        background: var(--primary-color-btn-card);
        border-radius: 4px;
        padding: 0.75rem 0.5rem;
        justify-content: center;
        font-family: var(--secondary-font);
        font-weight: bold;
        color: #FFF;
        bottom: 0;
        width: 71%;
        font-size: 0;
        // display: flex !important;
        display: flex;
    }

    .produto-info-desc .buy-in-page-button:after {
        content: 'Adicionar a Sacola';
        font-size: 18px;
    }

    .buy-in-page-quantity {
        display: none !important;
    }

    .sabor-itens {
        display: flex;
    }

    .sabor-itens .sabor-item {
        width: 3.5em;
        height: 7em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 1.5em;
    }
    .notifyme-title{
        font-weight: bold !important;
        color: #000 !important;
        font-size: 18px !important;
    }
    .sku-notifyme-form{
        #notifymeClientName{
            display: block;
        }
        #notifymeButtonOK {
            color: #fff;
            background: #46c4ec;
            border: none;
            margin-left: 5px;
        }
        input{
            margin: 4px 0;
            padding: 5px 7px;
            border-radius: 4px;
            border: 1px solid #000;
        }
    }
    .sabor-itens .sabor-item img {
        width: 100%;
    }

    .produto-minus-btn,
    .produto-more-btn {
        border-radius: 50%;
        border: 0;
        // display: flex !important;
        display: flex;
        justify-content: center;
        color: #FFF;
        width: 35px;
        height: 35px;
        background: #25B2DE;
        box-shadow: 0px 4px 8px rgba(38, 192, 226, 0.5);
        cursor: pointer;
        text-decoration: none;
        align-items: center;

        img {
            text-align: center;
            height: 10px;
            width: 10px;
        }
    }

    .produto-minus-btn{
        img {
            height: 2px;
            width: 9px;
        }
    }

    .produto-qtd-itens {
        margin: 1em 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .produto-simple-btn {
        border: 0;
        width: 30px;
        font-size: 20px;
        color: #989898;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        background: #FFFFFF;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        font-family: var(--secondary-font);
    }

    .acompanhamentos {
        width: 100%;
        height: 100%;
        background: url(/arquivos/product-bg.jpg) repeat top;
        background-size: cover;
    }

    .acompanhamento-title {
        color: white;
        padding-top: 1em;
    }

    .sobre-produto-main {
        justify-content: center;
        padding: 7.6em 9.6em 5em 9.6em;
    }

    .sobre-produto-titles {
        display: flex;
    }

    .sobre-produto-titles h2 {
        padding-right: 2em;
        padding-left: 2em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        cursor: pointer;
        font-weight: normal;
        user-select: none;
    }

    .sobre-produto-titles .item-active {
        background-color: white;
        font-weight: bold;
        color: var(--primary-font-color);
    }

    .sobre-produto-text-1 .productDescription {
        margin: 0;
        padding: 2em;
    }

    .sobre-produto-text-1,
    .sobre-produto-text-2,
    .sobre-produto-text-3 {
        background: white;
    }

    .sobre-produto-text-2 p,
    .sobre-produto-text-3 p {
        margin: 0;
        padding: 2em;
    }

    .pra-mais-tarde-title {
        color: var(--primary-font-color);
    }

    .sobre-produto-mobile {
        display: none;
    }

    @media screen and (max-width: 768px) {
        .produto-main-img {
            display: none;
        }

        .part-thumb-produto {
            display: none !important;
        }

        .produto-info-desc {
            margin: 0;
            box-shadow: none;
        }

        .sobre-produto-main {
            display: none;
        }

        .produto-info-desc {
            padding: 1.5em 0em;
            width: 100%;
        }

        .main-produtos .produto-info-image .apresentacao #show #include #image img,
        .produto-info-image {
            width: 100%;
        }

        .buy-in-page-button {
            width: 60% !important;
            border-radius: 0;
        }

        .produto-info-desc h1,
        .produto-info-desc h3,
        .label,
        .label2,
        .label3,
        .sabor-itens,
        .tamanhos-itens,
        .produto-qtd-itens {
            padding-left: 6px;
            padding-right: 0;
        }

        .sobre-produto-mobile {
            display: flex;
        }

        .menus {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 1em;
            width: 100%;
        }

        .menus .menu {
            background: #FFF;
            border-radius: 5px;
            padding: 1em;
            margin-bottom: 0.5rem;
            width: 100%;
        }

        .menus .menu .menu-header {
            padding: 0.5rem 0;
        }

        .menu-header {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            place-content: space-between;
        }

        .menu-header h3 {
            font-size: 0.9em;
            white-space: nowrap;
            font-family: var(--tertiary-font);
            text-align: left;
        }

        .menu li {
            max-height: 11em;
            overflow-y: auto;
        }

        .menus .menu ul li a {
            display: inline-block;
            font-family: var(--tertiary-font);
            color: #3E3E3E;
            font-weight: 500;
            padding: 0.25rem 0;
            white-space: nowrap;
            font-size: 0.85em;
        }

        .menus .menu ul li a.active {
            font-weight: 700;
        }

        .menu-header h2 {
            color: black;
            font-size: 1.2em;
        }

        .menu-header .item-active {
            font-weight: bold;
            color: var(--primary-font-color) !important;
        }

        .menu-header h2 {
            color: black !important;
            font-weight: normal;
        }

        .pra-mais-tarde-title {
            font-size: 1.7em;
            padding: 0em 1em 0em 1em;
        }

        .header-produto {
            padding: 1em 1em 1em 0em;
        }

        .header-produto ul li {
            padding-left: 0.3em;
            padding-right: 0.3em;
            color: gray !important;
        }
    }
}


.performa-vitrine-title {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.performa-vitrine-item:nth-child(1) {
    margin-left: 17.5%;
}